.wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100%;
	padding: 50px;
	display: flex; 
   flex-direction: column; 
}

body{
	line-height: 26px;
}

.wrapper > main{ 
   flex-grow: 1; 
}

h2{
	color: red;
	font-size: 18px;
}

ul{
	margin-bottom: 50px;
}

li{
	margin-top: 25px;
}

p{
	margin-bottom: 10px;
}

.form-wrap{
	display: inline-block;
}

.button{
	display: block;
	width: 150px;
	height: 30px;
	border: 1px solid;
}

.search-form{
	display: none;
}

.search-form_active{
	display: block;
}

	input{
	padding:4px 10px;
	border: 1px solid;
	font-size:16px;
	}

	.submit{
	width: 70px;
	background-color: #1c87c9;
	color:#ffffff;
	}